@import "~lbh-frontend/lbh/base";
@import "~lbh-frontend/lbh/settings/colour-palette";

$grey: #dee0e2;
$aqua: #009ca6;
$green: #005f61;
$amber: #f8e08e;
$orange: #ff6a13;
$red: #be3a34;

.process-record {
  &__item > .title {
    font-weight: bold;
    margin-top: 0;
  }

  &__item > .createdAt {
    margin-top: 0;
  }

  &__no-item {
    text-align: center;
    border-bottom: 1px solid #b1b4b6;
    padding: 15px 0;
  }

  &__item {
    width: 200px;
    margin-top: 0;
    vertical-align: middle;
    &.--processName {
      flex-grow: 1;
    }
    .lbh-tag {
      text-align: center;
      border-radius: 5px;
    }
    & > .--address {
      font-size: 16px;
      margin-top: 0;
      display: block;
      line-height: 22px;
    }

    &.--status {
      .box {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        &.grey,
        &.amber {
          color: initial;
        }
        &.grey {
          background: $grey;
        }
        &.aqua {
          background: $aqua;
        }
        &.green {
          background: $green;
        }
        &.amber {
          background: $amber;
        }
        &.orange {
          background: $orange;
        }
        &.red {
          background: $red;
        }
      }
      > p {
        margin-top: 4px;
        text-align: center;
      }
    }
  }
}

.worktray-list {
  position: relative;

  th,
  th > button {
    font-size: initial;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    vertical-align: middle;
  }

  th:last-child {
    white-space: nowrap;
  }

  #process-status-info-icon {
    height: 30px;
    width: 30px;
    background-color: #d9d9d9;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    position: relative;
    font-size: 19px;
    margin-left: 11px;

    &:before {
      content: "i";
      position: absolute;
      top: 4px;
      left: 12px;
    }

    &:hover + #process-status-info {
      position: absolute;
      padding: 28px;
      right: 0;
      background: #fff;
      border: 2px solid #0b0c0c;
      width: 100%;
      max-width: 400px;
      display: block;
      white-space: break-spaces;

      p {
        vertical-align: middle;
        position: relative;
        margin-left: 62px;
        margin-top: 15px;
        &:first-child {
          margin-top: 0;
        }
        &:before {
          background: #000;
          content: " ";
          display: inline-block;
          width: 49px;
          height: 30px;
          border-radius: 4px;
          vertical-align: middle;
          position: absolute;
          left: -62px;
        }
        &.grey:before {
          background: $grey;
        }
        &.aqua:before {
          background: $aqua;
        }
        &.green:before {
          background: $green;
        }
        &.amber:before {
          background: $amber;
        }
        &.orange:before {
          background: $orange;
        }
        &.red:before {
          background: $red;
        }
      }
    }
  }

  #process-status-info {
    display: none;
  }
}
